<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Новое сообщение</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ url('message_add') }}" method="POST" id="message-from">
            <div class="modal-body">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Сообщение:</label>
                        {{ form_widget(form._token) }}
                        <textarea class="form-control" id="message-text"  name="{{form.text.vars.full_name }}"></textarea>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="submit" class="btn btn-primary" value="save" id="message-submit">Сохранить</button>
            </div>
            </form>
        </div>
    </div>
</div>

