<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="profileModalLabel">Редактирование профиля</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ url('user_edit', {'id': user.id}) }}" method="POST">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Почтовый ящик:</label>
                        {{ form_widget(userForm._token) }}
                        <input class="form-control" type="email"  name="{{userForm.email.vars.full_name }}" value="{{ user.email }}" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary" value="save">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>

